.section__music{
    padding-top: 30px;
    padding-bottom: 60px;
  text-align: center;
}
.music__list{
    text-align: center;
}
.music__photo{
    margin: auto;
}
.music__text{
    margin-top: 16px;
    margin-bottom: 10px;
}
.music__item{
    &:not(:last-child){
        margin-bottom: 16px;
    }
}